# IDE config
/**/.idea

# node modules

/**/node_modules


# package-lock

/**/package-lock.json

# nyc output

/**/.nyc_output

# test report folder

/**/test/**/reports

/**/.next
